{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "> 1%",
            "last 2 versions",
            "not ie <= 9"
          ]
        }
      }
    ],
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "stage-2"
  ],
  "plugins": [
    [
      "transform-es2015-classes",
      "transform-es2015-spread",
      {
        "loose": true
      }
    ]
  ]
}